<h1 class="text-6xl mb-6">Notes Setting</h1>
<div class="row mt-10">
  <label class="font-bold">Cashier Note</label>
  <div>
    <quill-editor #cashierNote [(ngModel)]="cashierNoteContent"></quill-editor>
  </div>
</div>
<div class="row mt-10">
  <label class="font-bold"> Admin Note </label>
  <div>
    <quill-editor #adminNote [(ngModel)]="adminNoteContent"></quill-editor>
  </div>
</div>
<div class="mt-10">
  <dx-button text="Save" type="default" (onClick)="save($event)" [disabled]="isSaving"> </dx-button>
</div>
