<span id="notification-target" class="mdi mdi-bell"></span>
<div class="badge" #badgeEl *ngIf="count">
  {{ count }}
</div><!-- .badge -->
<dx-popover
  #popover
  target="#notification-target"
  position="bottom"
  [showEvent]="{ name: 'click' }"
  (onShowing)="onShowing($event)"
  >
  <div *dxTemplate="let data = data; of: 'content'">
    <dx-list
        itemTemplate="item"
        width="400px"
        [dataSource]="notificationItems"
        (onItemClick)="itemClicked($event, popover)"
      >
      <div *dxTemplate="let d of 'item'">
        <span>{{ d.value }} {{ d.title }}</span>
      </div>
    </dx-list>
  </div>
</dx-popover>
